:root {
    font-family: 'Montserrat', sans-serif;
    --color-primay: #eff0eb; 
    --color-secondary: #777; 
    --color-live: #FF496F;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.frame {
    background-color: var(--color-primay);
    padding: 1.2rem 0rem 1.2rem 2.5rem;
    margin: 1.5rem;
    border-radius: 15px;
    font-size: 1.3rem;
}

.movie {
    input {
        width: 94%;
    }

     input[type='text'] {
        margin: .5rem 0rem 1.2rem 0rem;
        background-color: var(--color-primay);
        border: none;
        border-bottom: 3px solid var(--color-secondary);
        font-size: 1.5rem;
        cursor: pointer;

        &:focus {
            outline: none;
            border-bottom: 3px solid var(--color-live);
        }
    }

    &__extra {
        display: flex;
        
        input {
            width: 87%;
            font-size: 1.5rem;
        }
    }
}

.search {
        input {
            width: 94%;
            margin: .5rem 0rem 1.2rem 0rem;
            background-color: var(--color-primay);
            border: none;
            border-bottom: 3px solid var(--color-secondary);
            font-size: 1.5rem;
            cursor: pointer;

            &:focus {
                outline: none;
                border-bottom: 3px solid var(--color-live);
            }
        }
}

.btn {
    font-family: inherit;
    font-size: 1.5rem;
    padding: .6rem;
    background-color: var(--color-live);
    border: 2px solid var(--color-secondary);
    transition: all .7s;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--color-live);
        background-color: var(--color-secondary);
        color: var(--color-live);
    }
}

// Dom - kreirani element
.output__list {
        list-style: none;

        li {
            .output__item {
                display: flex;
                justify-content: space-between;
            
            .movie__name {
                font-size: 2rem;
                font-weight: 600;
                margin-top: 0;
            }
            
            a {
                text-decoration: none;
                margin-right: 70px;
                color: var(--color-live);
                font-weight: 900;
            }
        }
    }
}